@model LMS_Demo.Models.SubmitAssignment

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SubmitAssignment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FilePath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FilePath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubmissionDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubmissionDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Student)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Student.StudentID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Assesment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Assesment.AssesmentID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SubmitID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
