@model IEnumerable<LMS_Demo.Models.SubmitAssignment>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

<h1>My Summissions</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FilePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubmissionDate)
            </th>
          
            <th>
                @Html.DisplayNameFor(model => model.Assesment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FilePath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubmissionDate)
            </td>
         
            <td>
                @Html.DisplayFor(modelItem => item.Assesment.AssesmentID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SubmitID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SubmitID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SubmitID">Delete</a> |
               <a asp-action="Download" asp-route-id="@item.SubmitID">Download</a>


            </td>
        </tr>
}
    </tbody>
</table>
